body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 30px 0px;
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
}

.page {
	flex: 1 1 auto;
}

.spoiler {
	font-size: 18px;
	line-height: 1.5;
}


.heading {
	font-size: 13px;
	line-height: 2;
	font-weight: 600;

}

.button {
	cursor: pointer;
	background-color: transparent;
	color: #0156FF;
	font-weight: 600;
	margin-top: 20px;
	line-height: 1.5;
	border: 2px solid #0156FF;
	border-radius: 50px;
	padding: 22px 10px;
	transition: all 0.3s ease 0s;
}


.box__container {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	justify-content: space-between;
}


/* ================================================card=============================== */

.card {
	font-family: Roboto;
	margin-bottom: 50px;
}

.card__body {
	padding: 76px 57px;
	background: #5D62B5;
	border-radius: 40px;
	max-width: 585px;
	margin: 0 auto;
	box-shadow: 10px 0px 10px rgb(93, 98, 181, 0.7);

}



.card__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: white;
	text-align: center;
}

.card__title:not(:last-child) {
	margin-bottom: 43px;
}


.form {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}



.form__rows {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -11px;
	row-gap: 22px;
}

.form__line {
	flex: 1 1 50%;
	padding: 0 11px;
}

.form__input {
	cursor: pointer;
	width: 100%;
	min-width: 224px;
	padding: 20px;
	background-color: transparent;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	opacity: 0.8;


}

.form__input::placeholder {
	letter-spacing: 0.15px;
	line-height: 1.5;
	color: white;
}

.form__input:focus {
	outline: 1px solid white;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

}

.form__input:focus::placeholder {
	font-size: 0;


}

.form__input::placeholder {
	transition: all 0.5s ease 0s;
}


.form__textarea {
	flex: 1 1 100%;
	padding: 0 11px;
}

.form__input_area {
	min-height: 180px;
	resize: vertical;


}

.form__footer {
	margin-top: 40px;
	align-self: flex-end;
	row-gap: 10px;
}

.form__button {

	cursor: pointer;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	padding: 12px 35px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	background: #F2726F;
	border-radius: 8px;
	color: white;
	transition: all 0.3s ease 0s;

}

.form__button:focus {
	outline: 1px solid white;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

.form__button:hover {
	background-color: #fb615e;


}

/* ================================================summary=============================== */

.summary {
	font-family: Poppins;
	color: black;
	font-size: 14px;

}

.summary__body {
	background: #F5F7FF;
	padding: 17px 28px;
	max-width: 446px;
	margin: 0 auto;
}



.summary__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.5;
}

.summary__title {
	margin-bottom: 19px;
}

.summary__header:not(:last-child) {
	margin-bottom: 13px;
}

.summary__header>*:not(:last-child) {
	margin-bottom: 13px;
}


.summary__spoiler {
	font-size: 18px;
	line-height: 1.5;
}


.heading:not(:last-child) {
	margin-bottom: 5px;
}

.summary__description {
	color: #666666;
	line-height: 1.7;
}



.form-summary {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}


.form-summary__address-box:not(:last-child) {
	margin-bottom: 18px;
}


.form-summary__address-box>*:not(:last-child) {
	margin-bottom: 15px;
}

.form-summary__input {
	cursor: pointer;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	padding: 17px 20px;
}

.form-summary__input::placeholder {
	color: #A2A6B0;
}

.form-summary__input:focus::placeholder {
	font-size: 0;
}


.radibuttons:not(:last-child) {
	margin-bottom: 30px;
}

.form-summary__spoiler:not(:last-child) {
	margin-bottom: 15px;
}

.radibuttons__line:not(:last-child) {
	margin-bottom: 10px;
}

.radibuttons__heading {
	font-size: 13px;
	line-height: 2;
	font-weight: 600;

}

.radibuttons__heading:not(:last-child) {
	margin-bottom: 5px;

}

.radibuttons__line {
	position: relative;
}

.radibuttons__radio-btn {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.radibuttons__radio-btn:focus+.radibuttons__lable::before {
	box-shadow: 0 0 5px rgb(0, 0, 255, 1);

}


.radibuttons__radio-btn:checked+.radibuttons__lable::after {
	transform: scale(1);
}

.radibuttons__lable {
	cursor: pointer;
	display: inline-flex;
	width: 100%;
	line-height: 1.5;
	column-gap: 7px;
	align-items: center;
	position: relative;

}

.radibuttons__lable::before {
	content: "";
	flex: 0 0 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	align-self: flex-start;

}

.radibuttons__lable::after {
	content: "";
	position: absolute;
	transition: transform 0.2s ease 0s;
	width: 10px;
	height: 10px;
	top: 5px;
	left: 5px;
	border-radius: 50%;
	background-color: blue;
	transform: scale(0);

}




.button:focus {
	outline: 1px solid #0156FF;
}

.form-summary__button:hover {
	background-color: #0156FF;
	color: white;
}

/* ================================================checkout=============================== */

.checkout {
	font-family: Poppins;
	color: black;
	font-size: 14px;

}

.checkout__body {
	padding: 20px;
	background-color: #dde7e2;
	max-width: 600px;
}

.checkout__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 25px;
}

.checkout__title::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	border: 1px solid #CACDD8;
	margin-top: 15px;
}


.form-checkout {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.form-checkout__wrapper>*:last-child {
	margin: 0;
}


.form-checkout__line {
	margin-bottom: 12px;
}


.red-star {
	color: red;
}

.block {
	display: block;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 13px;
	line-height: 2;
}

.form-checkout__input {
	cursor: pointer;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	padding: 17px 20px;
}

.form-checkout__input:focus {
	outline: 1px solid #0b72e9;
}

.form-checkout__text {
	color: #666666;
	font-size: 13px;
	line-height: 2;

}

.form-checkout__text:not(:last-child) {
	margin-bottom: 30px;
}

.form-checkout__text::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	border: 1px solid #CACDD8;
	margin-top: 15px;


}

.form-checkout__input_margin {
	margin-bottom: 12px;
}



.radio::before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	border: 1px solid #CACDD8;
	margin: 25px 0px 10px 0px;
}



.radio__description {
	margin-bottom: 5px;
}

.radio__line {
	margin-bottom: 15px;
	position: relative;
	display: flex;
}

.radio__lable {
	font-size: 14px;
	line-height: 1.5;
	display: flex;
	padding-right: 20px;
}


.radio__input {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.radio__input:focus+.radio__lable::before {
	box-shadow: 0 0 5px rgb(0, 0, 255, 1);

}


.radio__input:checked+.radio__lable::after {
	transform: scale(1);
}

.radio__lable {
	cursor: pointer;
	display: inline-flex;
	width: 100%;
	line-height: 1.5;
	column-gap: 7px;
	align-items: center;
	position: relative;


}

.radio__lable::before {
	content: "";
	flex: 0 0 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	border: 1px solid blue;
	align-self: flex-start;

}

.radio__lable::after {
	content: "";
	position: absolute;
	transition: transform 0.2s ease 0s;
	width: 10px;
	height: 10px;
	top: 5px;
	left: 5px;
	border-radius: 50%;
	background-color: blue;
	transform: scale(0);

}

.radio__price {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.4;
	align-self: flex-start;
}

.form-checkout__button {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	gap: 20px;
}

.button_small {
	width: 40%;
	background-color: #0156FF;
	color: white;
}

.form-checkout__btn:hover {
	background-color: white;
	color: #0156FF;
}